@use "sass:color";
@use "variables" as *;

// Mixin for button styles
@mixin button-style($bg-color) {
    background: color.adjust($bg-color, $lightness: -10%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: color.adjust($bg-color, $lightness: -15%);
    }
}

// Mixin for input styles
@mixin input-style {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border 0.3s ease;

    &:focus {
        border-color: $primary-color;
        outline: none;
    }
}